/*ServQuick, from UI Gradients... I also liked Midnight City... Meridian......*/

/* ServQuick */
.ui.inverted.segment, .ui.primary.inverted.segment{
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     }


.ui.huge.primary.button:hover{
    background-color: blue!important;
}

.ui.huge.primary.button {
    transition-duration: 0.2s;
}

div[role=option]:hover{
    background-color: #dcdcdc!important;
}

.ui.inverted.button:hover {
    background-color: whitesmoke!important;
}

.ui.secondary.inverted.pointing.menu .item:hover {
    color: whitesmoke!important;
    
}




    