/*ServQuick, from UI Gradients... I also liked Midnight City... Meridian......*/

/* ServQuick */
.ui.inverted.segment, .ui.primary.inverted.segment{
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     }


.ui.huge.primary.button:hover{
    background-color: blue!important;
}

.ui.huge.primary.button {
    transition-duration: 0.2s;
}

div[role=option]:hover{
    background-color: #dcdcdc!important;
}

.ui.inverted.button:hover {
    background-color: whitesmoke!important;
}

.ui.secondary.inverted.pointing.menu .item:hover {
    color: whitesmoke!important;
    
}

.metaPost {
    display: inline-block;
    text-align: center;
    margin-top: 25px!important;
}

.ui.text.container{
max-width: none!important;
}
.metaPost{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    /* align-content: space-around; */
    /* width: 100%; */
    margin-top: 54px;

}

.ui.card, .ui.cards>.card{
    /* margin: 30px 55px 30px 0px!important; */
    margin: 16px 0px 49px 0px!important;
    width: 335px;  
}


.ui.large.inverted.pointing.secondary menu{
    background-color:#1b1c1d;
    position:fixed;
}
.ui.inverted.vertical.center.aligned.segment{
    background-color:#1b1c1d;
} 


div[role=navbar]{
    /* border: 2px solid red; */
}


@media only screen and (max-width: 769px){ 
    
    .pusher .ui.inverted.vertical.center.aligned.segment{
        background-color:#1b1c1d;
      
    } 
    /* .fresnel-container .fresnel-greaterThan-mobile {
        z-index: ;
    } */
    .pushable{
      
        width: 100%;
        z-index: 60;
        /* height: 241px; */
    }

/* .pushable>.pusher{
    /* margin-bottom: -266px; */
    /* z-index: -2; */

  /*  }  */
  .pusher.dimmed{
      margin-bottom: 0px;
  }

  .metaPost{
      margin-top: 22px!important;
      margin-left: 14%;

      /* z-index: -20!important; */
  }
.ui.card, .ui.cards>.card{
  
    /* border: 1px solid red; */
  }
  .postDescription{
      text-align: justify;
  }
  
}
    
