/*ServQuick, from UI Gradients... I also liked Midnight City... Meridian......*/

/* ServQuick */
.ui.inverted.segment, .ui.primary.inverted.segment{
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     }


.ui.huge.primary.button:hover{
    background-color: blue!important;
}

.ui.huge.primary.button {
    transition-duration: 0.2s;
}

div[role=option]:hover{
    background-color: #dcdcdc!important;
}

.ui.inverted.button:hover {
    background-color: whitesmoke!important;
}

.ui.secondary.inverted.pointing.menu .item:hover {
    color: whitesmoke!important;
    
}

.metaPost {
    display: inline-block;
    text-align: center;
    margin-top: 25px!important;
}

.ui.text.container{
max-width: none!important;
}

.metaPost{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 54px;
}

.ui.card, .ui.cards>.card{
    margin: 16px 0px 49px 0px!important;
    width: 335px;  
}

.ui.large.inverted.pointing.secondary menu{
    background-color:#1b1c1d;
}

.ui.inverted.vertical.center.aligned.segment{
    background-color:#1b1c1d;
} 

.no-snips {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: block;
    margin: auto;
}

@media only screen and (max-width: 769px){ 
  .pusher .ui.inverted.vertical.center.aligned.segment{
      background-color:#1b1c1d;
      
    } 

  .pushable{
      width: 100%;
    }

  .pusher.dimmed{
      margin-bottom: 0px;
  }

  .metaPost{
      margin-top: 22px!important;
      margin-left: 14%;
  }

  .postDescription{
      text-align: justify;
  }
}

/* Fixed Navbar on Mobile */
.pushable:not(body) {
    transform: none;
  }
  
  .pushable:not(body) > .ui.sidebar,
  .pushable:not(body) > .fixed,
  .pushable:not(body) > .pusher:after {
    position: fixed;
    width: 100%;
  }


  /*need to change this to all "none" values for homepage...*/
 .ui.inverted.vertical.center.aligned.segment.other-page{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1000;  
 }

 .ui.inverted.vertical.center.aligned.segment.home-page{
    position: unset;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
 }
/* 
 .landing-page .ui.inverted.vertical.center.aligned.segment{
    position: none;
    left: none;
    top: none;
    width: none;
    z-index: none;  
 }  */

 /*homepage values:*/
 /* .ui.inverted.vertical.center.aligned.segment{
    position: none;
    left: none;
    top: none;
    width: none;
    z-index: none;  
 } */


  


    
